<a href="https://colab.research.google.com/github/0701Vatsal/ML_Practicals/blob/main/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
x = ['a','b','c','d']
df = pd.DataFrame(x,index=['A','B','C','D'])
print(df)

   0
A  a
B  b
C  c
D  d

In [ ]:
data ={'Name':['vatsal','yug','rutul'],'Age':[11,21,31]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0  vatsal   11
1     yug   21
2   rutul   31

In [ ]:
data = {'Name':['Mukesh', 'Ramesh', 'Bhadresh', 'Chandresh'],
        'Age':[37, 34, 52, 62],
        'Address':['Ahmedabad', 'Gandhinagar', 'Delhi', 'Jaipur'],
        'Qualification':['BE', 'ME', 'Bsc', 'BED']}
df = pd.DataFrame(data)
print(df)

        Name  Age      Address Qualification
0     Mukesh   37    Ahmedabad            BE
1     Ramesh   34  Gandhinagar            ME
2   Bhadresh   52        Delhi           Bsc
3  Chandresh   62       Jaipur           BED

In [ ]:
print(df[['Name','Age']])

        Name  Age
0     Mukesh   37
1     Ramesh   34
2   Bhadresh   52
3  Chandresh   62

In [ ]:
dp = pd.DataFrame()
print(dp)

Empty DataFrame
Columns: []
Index: []

In [ ]:
type(dp)

pandas.core.frame.DataFrame